body {
  padding-top: 30px;
  font-family: Sans-Serif;
  font-size: 24px;
  text-align: center;
}

td button {
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

div.pick-mark {
  font-size: 35px;
}

button.mark-button {
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 30px;
}

div.container {
  width:400px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td {
  border: 5px solid #222;
  width: 33.333%;
  height: 100px;
  text-align: center;
}

td:first-of-type {
  border-left-color: transparent;
  border-top-color: transparent;
}

td:nth-of-type(2) {
  border-top-color: transparent;
}

td:nth-of-type(3) {
  border-right-color: transparent;
  border-top-color: transparent;
}

tr:nth-of-type(3) td {
  border-bottom-color: transparent;
}

tr {
  margin: 0;
  padding: 0;
}

.tictactoe-board td {
  margin: 0;
  padding: 0;
}

p.outcome-message {
  white-space: pre-wrap;
  padding: 0;
}

td.win-cell button {
  color: red;
  font-weight: bold;
}
